<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Site</title>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/ux/css/main.css">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>    
    </head>

    <body>
		<div class="container">
			<nav class="navbar navbar-inverse">
  			<div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="#">Admin</a>
    			</div>
    			<ul class="nav navbar-nav">
      				<li {% if "Code Snippet" in page_title %} class="active" {% endif %}><a href="/admin/code-snippet">Home</a></li>
      				<li {% if "Skill" in page_title %} class="active" {% endif %}><a href="/admin/skill">Skill</a></li>
      				<li {% if "Job" in page_title %} class="active" {% endif %}><a href="/admin/job">Experience</a></li>
      				<li {% if "Degree" in page_title %} class="active" {% endif %}><a href="/admin/education">Education</a></li>
    			</ul>
  			</div>
		</nav>
			<div class="page-header" id="main-header">
				<a class="btn btn-info pull-right" href="/admin/logout">Logout</a>
 				<h1>{{ page_title }}</h1>
	 		</div>
		<div id="main">
			{% block body%}{% endblock %}
		</div>
    </body>
</html>
