{% extends "admin/admin_layout.html" %}

{% block body %}
<div class="wrapper">
    <form class="form-signin" method="post" action="/admin/login">
	  {{ form.csrf_token }}
      <h2 class="form-signin-heading">Login</h2>
	  {{ form.username(class_="form-control", placeholder="Username", autofocus=true, required=true) }}
	  <br>
	  {{ form.password(class_="form-control", placeholder="Password", autofocus=true, required=true) }}
	  <br>
	  {{ form.recaptcha }}
	  <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
    </form>
</div>
{% endblock %}
