{% extends "layout.html" %}

{% block body %}
	<header class="wide">
	<div class="module cap">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in velit eget elit molestie laoreet. Vivamus nisi sapien, molestie et ante non, efficitur sagittis eros. Sed sodales lectus sed tellus suscipit, et lobortis dolor rhoncus. Donec pharetra molestie quam sed dapibus. Etiam non ante sed nisl scelerisque interdum. Etiam dapibus nec dui ut placerat. Etiam dolor arcu, lobortis ac euismod eget, efficitur quis libero.<p>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in velit eget elit molestie laoreet. Vivamus nisi sapien, molestie et ante non, efficitur sagittis eros. Sed sodales lectus sed tellus suscipit, et lobortis dolor rhoncus. Donec pharetra molestie quam sed dapibus. Etiam non ante sed nisl scelerisque interdum. Etiam dapibus nec dui ut placerat. Etiam dolor arcu, lobortis ac euismod eget, efficitur quis libero.</p>
	</div>
</header>
{% endblock %}
