<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Luis Regus - {{ page_title }}</title>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/ux/css/main.css">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>    
		<script>
			$(document).ready(function(){
    			$("div[id^='snippet']").click(function(ev){
					ev.preventDefault();	
        			$(this).next().slideToggle();
    			});
			});
		</script>
    </head>

    <body>
		{% if slug != '/' %}
			<div class="container">  
				<div class="page-header" id="main-header">
					<a href="/">Home</a>
					<h1>{{ page_title }}</h1>
				</div>
		{% endif %}
		{% block body%}{% endblock %}
		{% if slug != '/' %}
			</div>
		{% endif %}
    </body>
</html>
